@import '../../core/styles/AppColors.scss';

.jt-home {
  height: 650px;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 52px;
    background: linear-gradient(to right, $yellow, $pink, $link_hovered);
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: gradientAnimation 5s linear infinite;
  }
  h2 {
    font-size: 42px;
    font-weight: 450;
  }
  h3 {
    font-size: 30px;
    font-weight: 300;
  }

  span {
    color: $green;
  }
}

@keyframes gradientAnimation {
  0% {background-position: 200% 50%}
  100% {background-position: 0% 50%}
}