$link_hovered: #347F9D;
$pink: #E5D1F0;
$yellow: #EDECC9;
$moon: #0E1B2A;

$light: #fff;
$dark: #000;

$five-percent-black: rgba(0, 0, 0, 0.05);

$light_background: #FBFEFD;
$dark_background: #1B5039;

