$link_hovered: #98b3dd;
$pink: #e5d1f0;
$yellow: #edecc9;
$moon: #0e1b2a;
$green: #1b5039;
$red: #49181a;

$light: #fff;
$dark: #000;

$five-percent-black: rgba(0, 0, 0, 0.05);

$light_background: #fbfefd;

